body {
    background: #263238;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.initial-image {
    border: 3px solid #484b63;
    margin-top: 3%;
}

.rounded-image{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.button {
    margin: auto 16px;
    padding: 11px;
    padding-top: 7px;
    width: 120px;
    height: 20px;
    background: #484b63;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #1D2038;
}

.button:hover {
    background: #1D2038;
}